<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/UserInfoPage.css}">
</head>
<body class="container">
<h2>수정된 결과</h2>
<table >
    <thead>
    <tr>
        <th>아이디</th>
        <th>패스워드</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="MyInfo: ${MyInfos}">
        <td th:text="${MyInfo.ADM_ID}"></td>
        <td th:text="${MyInfo.ADM_PW}"></td>
    </tr>
    </tbody>
</table>
<div>
    <!--Controller에 해당 부분으로 이동!!-->
    <a th:href="@{/Page/AdminMyPage}">
        <button>이전화면으로 돌아가기</button>
    </a>
</div>
</body>
</html>