<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Employee</title>
    <link rel="stylesheet" th:href="@{/css/TitlePontLow.css}">
</head>
<body class="container">
<div class="form-container">
    <h1 class="title">정말 삭제하시겠습니까?</h1>
    <!--    Controller에 해당부분으로 POSTING!-->
    <form th:action="@{/Admin/RoomDelete}" th:object="${RoomVo}" method="post">
        <div>
            <label for="house_num">삭제할 매물번호</label>
            <input type="text" id="house_num" th:field="*{house_num}" />
        </div>
        <div>
            <button class="page-button">매물 삭제하기</button>
        </div>
    </form>
</div>
</body>
</html>