<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/RoomInfoPage.css}">
</head>
<body class="container">
<h2>찜한 방 목록</h2>
<table>
    <thead>
    <tr>
        <th>매물번호</th>
        <th>등록자 아이디</th>
        <th>사진URL</th>
        <th>거래방식</th>
        <th>보증금(만원)</th>
        <th>월세(만원)</th>
        <th>전세금(만원)</th>
        <th>매매가(만원)</th>
        <th>평수</th>
        <th>사용 승인일</th>
        <th>매물주소</th>
        <th>층수</th>
        <th>집주인 전화번호</th>
        <th>매물 등록일</th>
        <th>비고(옵션)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="RoomInfo:${LoveRooms}">
        <td th:text="${RoomInfo.house_num}"></td>
        <td th:text="${RoomInfo.user_id}"></td>
        <td th:text="${RoomInfo.photo_url}"></td>
        <td th:text="${RoomInfo.trade_method}"></td>
        <td th:text="${RoomInfo.deposit}"></td>
        <td th:text="${RoomInfo.monthly}"></td>
        <td th:text="${RoomInfo.jeonsegeum}"></td>
        <td th:text="${RoomInfo.Sale_price}"></td>
        <td th:text="${RoomInfo.area}"></td>
        <td th:text="${RoomInfo.accept_date}"></td>
        <td th:text="${RoomInfo.address}"></td>
        <td th:text="${RoomInfo.floor1}"></td>
        <td th:text="${RoomInfo.phonenumber}"></td>
        <td th:text="${RoomInfo.regit_date}"></td>
        <td th:text="${RoomInfo.remark}"></td>
    </tr>
    </tbody>
</table>
<div>
    <!--Controller에 해당 부분으로 이동!!-->
    <a th:href="@{/Page/UserMyPage}">
        <button>이전 화면으로 돌아가기</button>
    </a>
</div>
</body>
</html>