<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OlumgollumMainPage</title>
    <link rel="stylesheet" th:href="@{/css/UserOlumGollumMain.css}">
</head>
<body class="container">
<h1 class="title">Olumgollum</h1>
<div class="button-container">
    <div class="button-row">
<!--        Controller에 해당부분으로 이동!!-->
        <a th:href="@{/RoomUp/RoomInsert}">
            <button>방 올룸</button>
        </a>
        <a th:href="@{/RoomSearch/Search}">
            <button>방 골룸</button>
        </a>
    </div>
    <div class="button-row">
        <a th:href="@{/Page/UserMyPage}">
            <button>마이페이지</button>
        </a>
    </div>
</div>
</body>
</html>