<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- CSS 파일 링크를 수정해야 합니다. -->
    <link rel="stylesheet" th:href="@{/css/LoginPage.css}">
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <!--    Controller에 해당부분으로 POSTING!-->
    <form th:action="@{/Login/FailedCheck}" th:object="${ID_PASSWORD}" method="post">
        <!-- 사용자명 입력 필드 -->
        <label>
            <input type="text" placeholder="사용자명"  name="Userid" th:field = "*{Userid}">
        </label>
        <!-- 비밀번호 입력 필드 -->
        <label>
            <input type="password" placeholder="비밀번호"  name="Password" th:field = "*{Password}">
        </label>
        <button type="submit">로그인</button>
    </form>
    <p>잘못입력했습니다. 다시 입력해 주세요.</p>
</div>
</body>
</html>