<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입!</title>
  <link rel="stylesheet" th:href="@{/css/UserInfoPage.css}">
</head>
<body class="container">
<div class="form-container">
  <h1 class="title">회원가입!</h1>
  <!--    Controller에 해당부분으로 POSTING!-->
  <form th:action="@{/Login/UserInsert}" th:object="${UserInsert}" method="post">
    <div>
      <label for="user_mail">아이디</label>
      <input type="text" id="user_mail" th:field="*{user_mail}" />
    </div>
    <div>
      <label for="password">패스워드</label>
      <input type="text" id="password" th:field="*{password}" />
    </div>
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
      <label for="first_id_cardnum">주민번호 앞자리</label>
      <input type="text" id="first_id_cardnum" th:field="*{first_id_cardnum}" />
    </div>
    <div>
      <label for="phone_number">전화번호</label>
      <input type="text" id="phone_number" th:field="*{phone_number}" />
    </div>
    <div>
      <label for="address">주소</label>
      <input type="text" id="address" th:field="*{address}" />
    </div>
    <div>
      <label for="gender">성별(남자[1]여자[2])</label>
      <input type="text" id="gender" th:field="*{gender}" />
    </div>
    <div>
      <label for="nickname">닉네임</label>
      <input type="text" id="nickname" th:field="*{nickname}" />
    </div>
    <div>
      <button class="page-button">등록하기</button>
    </div>
  </form>
</div>
</body>
</html>